// Variables
$bee-primary-color: yellow;
$bee-secondary-color: black;
$bee-complimentary-color: lighten(grey, 40%);

html, body {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.btn {
  background-color: $bee-primary-color;
  color: $bee-secondary-color;
  padding: 1em;
  margin: 1em;
  display: inline-block;
  cursor: pointer;
}

.container {
  padding: 1em;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.bee-info {
  width: 100%;
  transform: translateX(100%);
  text-align: center;
}

.bee-info.active {
  transition: all 550ms;
  transform: translateX(0);
}
